<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="ds" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@192.168.12.100:1521:orcl"/>
		<property name="username" value="kitri"/>
		<property name="password" value="kitri"/>
		
	</bean>
	
	<bean id = "mdao" class="com.kitri.di.step09.MemberDao">		
		<constructor-arg>
			<ref bean="ds"/>		
		</constructor-arg>
		
	</bean>
	
</beans>
